.site-header {
  padding: 5px 0; }
.site-header .branding {
  float: left; }
.site-header .branding .logo, .site-header .branding .logo-type {
  display: inline-block;
  vertical-align: middle; }
.site-header .branding .logo {
  margin-right: 10px; }
.site-header .branding .site-title {
  margin-bottom: 5px;
  font-size: 16px;
  font-size: 1.1428571429em;
  color: Black; }
.site-header .branding .site-description {
  font-size: 10px;
  font-size: 0.7142857143em;
  display: block;
  color: Gray; }
